@font-face {
    font-family: "Soda Shake";
    src: url("../fonts/SodaShake.ttf") format("truetype");
}

@font-face {
    font-family: "KG Red Hands";
    src: url(../fonts/KGRedHands.ttf);
}

@font-face {
    font-family: "KGRedHandsOutline";
    src: url(../fonts/KGRedHandsOutline.ttf);
}

body {
    font-family: Arial, sans-serif; /* Sets a base font for the page */
    line-height: 1.6; /* Increases readability */
    color: #000000; /* Sets a base text color */
    background-color: #ffffff; /* Sets a background color for the page */
}

.Title {
    font-size: 100px;
    font-family: "Soda Shake";
    color: black;
}

td {
    border: 5px solid black;
    border-radius: 2.5px;
    border-top: -1px;
    border-spacing: 1vw;
    padding: 1vw;
    border-color: #000000;
    background-color: rgb(0, 190, 117);
}

.backButton {
    position: absolute; /* Position the button absolutely */
    top: 10px; /* Distance from the top */
    left: 10px; /* Distance from the right */
    padding: 10px 20px; /* Add some padding */
    background-color: rgb(255, 64, 64);
    color: black;
    outline: black solid 5px;
    font-size: 40px;
}

.MiddleNavButton {
    font-family: "KG Red Hands";
    box-shadow: none;
    size: 120px;
    font-size: 40px;
    outline: black solid 5px ;
    border-radius: 20px;
    background: none;
    color:black !important;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.MiddleNavButton:hover {
    transform: scale(1.2); /* Smoothly increases size by 20% */
    background-color: black; /* Optional: change background on hover */
    color: white; /* Optional: change text color on hover */
}

input {
    background: none;
}